body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(#5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #7e7474;
}

/* CSS for Option#1: The Nav Component and Tabs
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
*/

/* To add a border around the carousel and add a half-transparent background to the captions
 so they can be more easily read, add this code to styles.css: Using rgba allows us to change transperency 0.5 -50% */

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel {
    border: solid #5637DD;
}

.cancel {
    background-color: #17a2b8;
    border-color: #17a2b8;
    border: 0;
    padding: 0;
}


/* Play & Pause Button, intro to jQuery*/

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0.5;
}